export(annotateGene)
export(annotatePlain)
export(annotateVcf)
export(getRefBase)
export(isInRange)
export(makeAnnotationParameter)
export(readVCFToListByGene)
export(readVCFToListByRange)
export(readVCFToMatrixByGene)
export(readVCFToMatrixByRange)
export(rvmeta.readCovByRange)
export(rvmeta.readDataByGene)
export(rvmeta.readDataByRange)
export(rvmeta.readNullModel)
export(rvmeta.readScoreByRange)
export(rvmeta.readSkewByRange)
export(rvmeta.writeCovData)
export(rvmeta.writeScoreData)
export(tabix.createIndex)
export(tabix.createIndex.meta)
export(tabix.createIndex.vcf)
export(tabix.read)
export(tabix.read.header)
export(tabix.read.table)
export(validateAnnotationParameter)
import(stringr)
importFrom(utils,packageVersion)
useDynLib(seqminer)
