export(readVCFToListByGene)
export(readVCFToListByRange)
export(readVCFToMatrixByGene)
export(readVCFToMatrixByRange)
export(rvmeta.readCovByRange)
export(rvmeta.readDataByGene)
export(rvmeta.readDataByRange)
export(rvmeta.readScoreByRange)
export(tabix)
importFrom(utils)
useDynLib(seqminer)
